html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background-color: rgb(255, 128, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.header-btn {
    background-color: transparent;
}

main {
    display: flex;
    flex: 1;
}

.slide-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
    
}
.slide-btn{
    border: 0;
    background-color: transparent;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    margin: 0 auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* SCROLL BAR */
section::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}

section::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

section::-webkit-scrollbar-thumb {
    background: rgba(218, 201, 213, 0.445);
}

section::-webkit-scrollbar-thumb:hover {
    background: rgba(26, 63, 33, 0.445);
}

.slide-bar-img{
    width: 250px;
    height: 250px;
    cursor: pointer;
    transform: scale(.95);
    transition: all .3s;
    margin-bottom: 1px;
}

.slide-bar-img-basket{
    width: 200px;
    height: 200px;
    cursor: pointer;
    transform: scale(.95);
    transition: all .3s;
    border-radius: 8px;
    margin-bottom: 1px;
}

.slide-bar-img:hover{
    transform: scale(1);
}

 #slide-left{
    height: 40px;
 }

 #slide-right{
    height: 40px;
 }

 /* SCROLL BAR */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: rgba(63, 35, 26, 0.445);
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-quaternary);
}

.btn-img-basket {
    width: 50px;
    border-radius: 12px;
}

.shopping-basket-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px ;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.shopping-basket {
    padding: 10px;
    height: 600px;
    width: 100%;
    text-align: center;
    background-color: white;
    position: sticky;
    top: 0;
    
}

.notification{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(131, 125, 138);
    z-index: 99;
    border: 2px solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    flex-direction: column;
    font-size: 24px;
}

span {
    display: flex;
    flex-direction: column;
}

.costs {
    display: none;
    justify-content: space-between;
    border-top: 2px solid;

}

.foods {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    width: calc(100% - 230px);
}

.foods-container {}


.shopping-basket-img {
    width: 100px;
}

.shopping-basket-container {
    border: 1px solid;
    display: flex;
    width: 230px;
    flex-grow: 1;
    flex-direction: column;
}

.card {
    flex-direction: row-reverse !important;
    margin: 5px;
}

.card:hover {
    background-color: rgb(254, 229, 203);
}

.btn-div {
    height: 40px;
    margin: 5px;
}

.shopping-basket-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

#basket-elements{
    max-height: 304px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.text-align-center {
    text-align: center;
}

.delivery-or-pick-up-container {
    background-color: rgb(239, 237, 234);
    border-radius: 12px;
}

.delivery-btn {
    border: 0;
    background-color: white;
    margin: 3px;
    border-radius: 12px;
}

.pick-up-btn {
    border: 0;
    background-color: transparent;
    margin: 3px;
    border-radius: 12px;
}

.amount-btn {
    color: rgb(243, 150, 50);
    border: 0;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
}

#header-basket-btn {
    display: none;
}

.delete-img {
    width: 20px;
    border: 0;
    background-color: transparent;
}

b {
    font-weight: lighter;
}

.basket-close-btn {
    background-color: transparent;
    border: 0;
    color: rgb(255, 128, 0);
    font-weight: bold;
    text-align: start;
}

.basket-close-btn-container {
    width: 100%;
    display: none;
    justify-content: flex-end;
}

.publicity-img {
    height: 112px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
    width: 100%;
}

.price-small {
    font-weight: bold;
}

#order-btn {
    display: none;
}

footer {
    height: 10vh;
    background-color: rgb(255, 128, 0);
}

@media(min-width:1000px) {
    .publicity-img {
        height: 300px;
    }
}

@media(min-width:531px) {
    .shopping-basket-container{
        display: flex;
    }
}

@media(max-width:530px) {
    main {
        flex-direction: column;
    }

    .shopping-basket-container {
        height: 100%;
        min-width: 100%;
        display: none;
        justify-content: center;
        z-index: 60;
        position: fixed;
        background-color: transparent;
        border: 0;
    }

    .shopping-basket {
        flex: 1;
        margin-top: 10px;
        border: 1px solid;
        border-radius: 6px;
        margin: 0;
    }

    #header-basket-btn {
        display: flex;
    }

    .basket-close-btn-container {
        display: flex;
    }
    .foods{
        width: 100%;
    }
}